<!DOCTYPE html>
<html>

<head>
    <title>404 - Not Found</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <meta property="title" content="<%- metaTitle %>" />
    <meta name="description" content="<%- metaDescription %>" />

    <meta itemprop="name" content="<%- metaTitle %>" />
    <meta itemprop="description" content="<%- metaDescription %>" />
    <meta itemprop="image" content="<%- metaImageURL %>" />

    <meta property="og:title" content="<%- metaTitle %>" />
    <meta property="og:description" content="<%- metaDescription %>" />
    <meta property="og:image" content="<%- metaImageURL %>" />
    <meta property="og:image:secure_url" content="<%- metaImageURL %>" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%- metaTitle %>" />
    <meta name="twitter:description" content="<%- metaDescription %>" />
    <meta name="twitter:image" content="<%- metaImageURL %>" />

    <link rel="icon" type="image/png" sizes="300x250" href="https://emeraldbots.xyz/img/revinal.png">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/404.css">
</head>

<body style="background-color: var(--background);">
    <div id="top" style="height: 12px;">
        <nav class="navbar navbar-light navbar-expand fixed-top"
            style="color: var(--main-color);border-top-width: 6px;border-top-style: solid;background: var(--background);">
            <a href="/" class="logo" id="logo">
                <img src="https://emeraldbots.xyz/img/logo.png" class="navicon-fade" width="150" height="auto">
            </a>
        </nav>
    </div>
    <div class="container">
        <body>
            <canvas id="canvas"></canvas>
            <div id="text">
                <h1>404 - Not Found</h1>
            </div>
        </body>
    </div>
    </div>
    <script src="../assets/js/app.js"></script>
</body>

</html>